*~
.idea
target
.ensime
TAGS
\#*#
*~
.#*
.lib
*.aux.xml
*.jar
*.iml
*.sublime-workspace
.DS_Store

# Vagrant
.vagrant
deployment/ansible/roles/azavea.*
service/geotrellis/data/chatta-demo
service/geotrellis/project/boot
service/geotrellis/project/plugins/project
service/geotrellis/project/plugins/target
service/geotrellis/project/target
service/geotrellis/target
ingest-data.zip

# Terraform
deployment/terraform/.terraform
*.tfplan
*.tfstate*
