/* =======================================================
   General styles
======================================================= */

h4 {
	line-height: 16px;
}

p {
	font-size: 13px;
}

/*
body {
	font-family: 'Open Sans', sans-serif;
}
*/

.navbar .brand {
	font-size: 17px;
	font-weight: 700;
}

.well {
	padding: 8px 10px 8px 15px;
	margin: 0 15px 8px 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.nav-pills .dropdown-menu {
	z-index: 999;
}

#wrap {
	position: fixed;
	bottom: 0;
	width: 665px;
	margin 10px; auto;
}

.modal-body p {
	font-size: 13px;
	line-height: 18px;
}

/* =======================================================
   Map
======================================================= */

#map {
	width: 100%;
	height: 600px; 
	border: 1px solid #ccc;
}


/* =======================================================
   Sidebar
======================================================= */

h4.slider-label {
	padding: 0 2px 0 0;
	margin: 0 25px 15px -5px;
	font-size: 12px;
	font-weight: normal;
}

span.weight {
	float: right;
	margin-top: -36px;
}

span.weight input {
	border: none;
	box-shadow: none;
	background: none;
	text-align: right;
	font-weight: bold;
	font-size: 18px;
}

.nav-tabs {
	width: 96%;
}

.bold {
	font-weight: bold;
}

#summary {
	margin-right: 15px;
}

#main {
	position: fixed;
	width: 100%;
	height: 660px;
	overflow: hidden;
}

#sidebar {
	width: 329px;
	float: right;
	margin-right: 15px;
}

#leftCol {
	width: 665px;
	float: left;
}

.container-main {
	width: 1024px;
	margin: 0 auto;
}


/* =======================================================
   Scrollbar
======================================================= */

::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    border-radius: 10px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #c2c2c2;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #c2c2c2; 
}


/* =======================================================
   Color Ramps
======================================================= */

#color-ramp-menu {
	padding: 15px 0 15px 0;
}

#clearButton {
	position: absolute;
	z-index: 999;
	left: 10px;
	bottom: 10px;
}

#clearButton {
	color: #fff !important;
}

